[submodule "app/external/googletest"]
	path = app/external/googletest
	url = https://github.com/google/googletest.git
[submodule "app/external/qtnodes"]
	path = app/external/qtnodes
	url = https://github.com/paceholder/nodeeditor.git
